body{
	background-color:#1f1e33;
	font-family: 'Consolas','SIMHEI',monospace;
	line-height: 30px;
	color:#fff
}
a{
	color:#efef77;
}
p{
	color:#efefef;
}
b{
	color:#ffffff;
}
@keyframes hue {
    0% { filter: brightness(1.5); }
   50% { filter: brightness(0.5); }
  100% { filter: brightness(1.5); }
}
@keyframes move {
    0% {    margin-top: -5.5em;
    margin-left: 20em;}
   50% {margin-left: 0em;margin-top: 0em;}
  100% {    margin-top: -5.5em;
    margin-left: 20em;}
}
ul{
    list-style-type: none;
    margin-top: -50px;
    padding: 0;
    position: fixed; 
    background-color: #101112;
	z-index: 1;
}
li{
    float:left;
}
li a {
    display: block;
	border: 1px solid;
    color: #efef77;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover{
    color: #1ae1fb;
	background: linear-gradient(120deg, #1f1e33,#1ae1fb);
	animation: hue 2s ease-in-out infinite;
}
legend{
    color: #ffffff;
}
.footer {
    background-color: #F1F1F1;
    color: #000000;
    text-align: center;
    padding: 10px;
}

.list{
	display: flex;
}

.lleft{
	width: 70%;
}

.lright{
	width: 30%;
	margin-left: auto;
}

.button.go{
	background: linear-gradient(0deg, #1f1e33,#1afb1e);
    display: block;
	border: 1px solid;
    color: #77ef77;
    padding: 8px 16px;
    text-decoration: none;
}
.button.go:hover{
    color: #60c060;
	background: linear-gradient(180deg, #1f1e33,#1afb1e);
	animation: hue 2s ease-in-out infinite;
}

.cpp0-character { color: #d69d85; }
.cpp0-class { color: #4ec9b0; }
.cpp0-comment { color: #6a9955; }
.cpp0-escapesequences { color: #b5cea8; }
.cpp0-float { color: #b5cea8; }
.cpp0-function { color: #bfbfff; }
.cpp0-globalvariable { color: #e2c8b8; }
.cpp0-hexadecimal { color: #b5cea8; }
.cpp0-identifier { color: #dcdcaa; }
.cpp0-illegalchar { color: #ff3c3c; }
.cpp0-localvariable { color: #9cdcfe; }
.cpp0-number { color: #b5cea8; }
.cpp0-octal { color: #b5cea8; }
.cpp0-preprocessor { color: #c586c0; }
.cpp0-reservedword { color: #569cd6; }
.cpp0-space { color: #505050; }
.cpp0-string { color: #d69d85; }
.cpp0-symbol { color: #d4d4d4; }
.cpp0-variable { color: #9cdcfe; }

.light { color: #e7e7e7; background-color: #e1e1e1; }
.light.legend {color:#000}
