body{
	background-color:#1f1e33;
	font-family: Lato, -apple-system, 'PingFang SC', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Microsoft Yahei', 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
	line-height: 30px;
	color:#fff;
}
a{
	color:#efef77;
}
p{
	color:#efefef;
}
b{
	color:#ffffff;
}
.oneline{
	height: 17px;
}
.number{
	width: 100px;
	height: 60px;
	font-size: 50px;
	font-family: "Cambria math";
}
.modulo{
	width: 100px;
	height: 20px;
	font-size: 16px;
	font-family: "Cambria math";
	margin-bottom: 3%;
}
.big{
	font-family:"Cambria math";
	font-size:72px;
}
.small{
	font-family:"Cambria math";
	font-size:16px;
	height: 17px;
	width: 30px;
}
.up{
	transform: translate(-17%,-146%);
}
.down{
	transform: translate(-127%,30%);
}
.equal{
	width: 77px;
	height: 62px;
	font-family: "Cambria math";
	transform: translate(-11%,-28%);
	margin-left: 27px;
	font-size: 32px;
}
@keyframes hue {
    0% { filter: brightness(1.5); }
   50% { filter: brightness(0.5); }
  100% { filter: brightness(1.5); }
}
ul{
    list-style-type: none;
    margin-top: -50px;
    padding: 0;
    position: fixed; 
    background-color: #101112;
}
li{
    float:left;
}
li a {
    display: block;
	border: 1px solid;
    color: #efef77;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover{
    color: #1ae1fb;
	background: linear-gradient(120deg, #1f1e33,#1ae1fb);
	animation: hue 2s ease-in-out infinite;
}
legend{
    color: #ffffff;
}
.footer {
    background-color: #F1F1F1;
    color: #000000;
    text-align: center;
    padding: 10px;
}

.three{
	display: flex;
}

.tleft,.tright{
	width: 30%;
}

.tmiddle{
	width: 40%;
}

.button.go{
	background: linear-gradient(0deg, #1f1e33,#1afb1e);
    display: block;
	border: 1px solid;
    color: #77ef77;
    padding: 8px 16px;
    text-decoration: none;
}
.button.go:hover{
    color: #60c060;
	background: linear-gradient(180deg, #1f1e33,#1afb1e);
	animation: hue 2s ease-in-out infinite;
}
