body{
	background-color:#eeeeee;
	font-family: Lato, -apple-system, 'PingFang SC', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Microsoft Yahei', 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
	line-height: 30px;
}
a{
	color:#208e8e;
}
p{
	color:#010101;
}
b{
	color:#5555dd;
}
fieldset{
	color:#010101;
}
@keyframes hue {
    0% { filter: contrast(1.5); }
   50% { filter: contrast(1.0); }
  100% { filter: contrast(1.5); }
}
ul{
    list-style-type: none;
    margin-top: -50px;
    padding: 0;
    position: fixed; 
    background-color: #c9c8c7;
}
li{
    float:left;
}
li a {
    display: block;
	border: 1px solid;
    color: #3f3f3f;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover{
    color: #e5e5e5;
	background: linear-gradient(120deg, #eeeeee,#ff6000);
	animation: hue 2s ease-in-out infinite;
}
th{
	border: 1px solid;
    background=#444444;
}
td{
	border: 1px solid;
    background=#bbbbbb;
}
legend{
    color: #000000;
}
.footer {
    background-color: #000000;
    color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.list{
	display: flex;
}

.lleft{
	width: 70%;
}

.lright{
	width: 30%;
	margin-left: auto;
}

.button.go{
	background: linear-gradient(0deg, #777777,#eeeeee);
    display: block;
	border: 1px solid;
    color:#333333;
    padding: 8px 16px;
    text-decoration: none;
}
.button.go:hover{
    color:#000000;
	background: linear-gradient(0deg, #eeeeee,#777777);
	animation: hue 2s ease-in-out infinite;
}


.cpp0-character { color: #000000; }
.cpp0-class { color: #008080; }
.cpp0-comment { color: #8c8c8c; font-style: italic; }
.cpp0-escapesequences { color: #ff0000; }
.cpp0-float { color: #800080; }
.cpp0-function { color: #00627a; }
.cpp0-globalvariable { color: #660e7a; }
.cpp0-hexadecimal { color: #800080; }
.cpp0-identifier { color: #080808; }
.cpp0-illegalchar { color: #ff0000; }
.cpp0-localvariable { color: #000000; }
.cpp0-number { color: #1750eb; }
.cpp0-octal { color: #800080; }
.cpp0-preprocessor { color: #1f542e; }
.cpp0-reservedword { color: #0033b3; font-weight: bold; }
.cpp0-space { color: #bababa; }
.cpp0-string { color: #007d17; font-weight: bold; }
.cpp0-symbol { color: #c10000; font-weight: bold; }
.cpp0-variable { color: #400080; }
